#container{
    display: flex;
    padding: 80px;
    
    
    
}
.placeholder{
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    
    
    
}
#image{
    padding-right: -12px;
}

#icons{
    display: flex;
    gap: 20px;
    padding-left: 120px;
    
}
#bigger{
    display: flex;
    display: inline-block;
    position: relative;
    
    
    

}
#button{
    margin-top: 15px;
}
.small{
 width: 20px;
 
}
.icon{
    margin-top: 18px;
    
}
#logos{
    background-color: #E3F0EF;
    

}
.logoss{
    width:100px;
    height: 60px;

}
#outerframe{
    background-color: #D3DAEB;
    border-radius: 50px;
    margin: 100px 50px;
    padding: 50px 40px;
    

}
#website{
    background-color: antiquewhite;
    margin: 80px 70px;
    padding-right: 30px;
    text-align: center;
    
    
    
}
.nav a{

    text-decoration: none;
    padding-right: 35px;
    padding-left: 30px;
 
    
}

.navdiv{
    display: flex;
    align-items: center;
   justify-content: space-between;
    
}
.logo a{
    font-size: 40px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    
}
li a{
    font-size: 18px;
     margin-right: 90px;
    text-decoration: none;
    color: #7b7878;
    
    

}

.images{
    border-radius:50% ;

    
    
}

li{
    list-style: none;
    display: inline-block;
    text-decoration: none;
}
.button2{
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #85C0BB;
    color: aliceblue;

}
.button1{
    padding: 10px 15px;
    border-radius: 17px;
    background-color:#78BAB4;
    color: aliceblue;
    padding-left: 20px;
    position: absolute;
 
}
#text{
    
    
}
@media screen and (min-width:280px) and (max-width:560px){
    
    #container{
        display: grid;
        gap: 30px;
    }
    #icons{
        display:grid;
        gap: 20px;
        
    }
    #bigger{
        display: grid;
        gap: 20px;
    
    }
    #button{
        margin-top: 15px;
    }
    .small{
     width: 20px;
     
    }
    .icon{
        margin-top: 18px;
    }
    #logos{
        background-color: #E3F0EF;
    
    }
    .logoss{
        width:100px;
        height: 60px;
    }
    #outerframe{
        padding: 200px ;
        margin-right: -250px;
    }
    #website{
        margin-right: -150px;
    }
    .images{
        width: 150px;
    }
    #image{
        border-radius: 15%;
    }


    .nav a{
    
        text-decoration: none;
        padding-left: 35px;
        padding-right: 25px;
        
    }
    .navdiv{
        display: grid;
    
        
    }
    .logo a{
        font-size: 40px;
        font-weight: 400;
        color: #000;
        text-decoration: none;
    }
    li a{
        font-size: 18px;
        margin-right: 95px;
        text-decoration: none;
        color: #000;
    
    }
    li{
        list-style: none;
        display: inline-block;
        text-decoration: none;
    }
    .button1{
        padding: 10px 15px;
        border-radius: 10px;
        background-color: #85C0BB;
        color: aliceblue;
    
    }
    .button2{
        padding: 10px 15px;
        border-radius: 10px;
        background-color:#78BAB4;
        color: aliceblue;
     
    }  
}
