#web{
    display: flex;
    padding: 80px;
    
    
    
}
.placeholder{
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    
    
    
}
#image{
    padding-right: -12px;
}

#icons{
    display: flex;
    gap: 20px;
    padding-left: 120px;
    
}
#toggle{
    display: flex;
    display: inline-block;
    position: relative;
    
    
    

}
#button{
    margin-top: 15px;
}
.small{
 width: 20px;
 
}
.icon{
    margin-top: 29px;
    
}
#logos{
    background-color: #E3F0EF;
    height: 150px;
    width: 1568px;
    

}
.logoss{
    width:100px;
    height: 60px;

}
#outerframe{

    border-radius: 50px;
    margin: 100px 50px;
    padding: 50px 40px;
    

}
#website{
    background-color: antiquewhite;
    margin: 80px 70px;
    padding-right: 30px;
    text-align: center;
    
    
    
}

    

    


.nav a{

    text-decoration: none;
    padding-right: 90px;
    padding-left: 45px;
    
 
    
}

.navdiv{
    display: flex;
   justify-content: space-between;
    
}
.logo a{
    font-size: 40px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    
}
li a{
    font-size: 18px;   
    text-decoration: none;
    color: #7b7878;
  

}

.images{
    border-radius:50% ;

    
    
}

li{
    list-style: none;
    display: inline-block;
    text-decoration: none;
    padding-right: 20px;

}
.li{
    color: #000;
}

.button2{
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #85C0BB;
    color: aliceblue;

}
.button1{
    padding: 10px 15px;
    border-radius: 17px;
    background-color:#78BAB4;
    color: aliceblue;
    padding-left: 20px;
    position: absolute;
    margin-top: -21px;
 
}

@media screen and (min-width:280px) and (max-width:660px){
         


.nav a{

    text-decoration: none;
    padding-right: 0px;
    
    
    
 
    
}

.navdiv{
    display: grid;
   
    
}
.logo a{
    font-size: 40px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    
}
li a{
    font-size: 18px;   
    text-decoration: none;
    color: #7b7878;
   
    
    
    
    
    

}

.images{
    border-radius:50% ;

    
    
}

li{
    
    
    text-decoration: none;
    padding-right: 10px;

}
.li{
    color: #000;
}
.button1{
    padding: 10px 15px;
    border-radius: 17px;
    background-color:#78BAB4;
    color: aliceblue;
    padding-left: 20px;
    
    margin-top: -15px;
    margin-top: 20px;
    padding-left: -20px;
    margin-left: -80px;
    
 
}
#logos{
    background-color: #E3F0EF;
    height: 50px;
    width: 400px;

} 
.images{
    border-radius:50% ;
    width: 150px;
    
}
#web{
    display: grid;
    padding:- 90px;
    padding-right: 250%;

    
    
    
}
#icons{
    display: grid;
}
.sentence{
    font-size:x-small;
}
#toggle{
    display: grid;
    
    
}


}
   